.Footer{
    bottom: 10;
    position:absolute;
    width: 100%;
    background-color: black;
    color: yellow;
    padding:15px;
    text-align: center;
    
    }
   
    html,body{
    overflow-x:hidden;
    
    }
   